In [18]:
import pandas as pd

In [19]:
list1 = ["hello", 2, 4.5, "AB", True] # 리스트 데이터

sr1 = pd.Series(list1) # 리스트 정리 출력
print(sr1)

0    hello
1        2
2      4.5
3       AB
4     True
dtype: object

In [20]:
list1 = {'A':'hello', 'B':2, 'C':4.5, 'D':'AB', 'E':True} # 리스트 데이터

sr1 = pd.Series(list1) # 리스트 정리 출력
print(sr1)

A    hello
B        2
C      4.5
D       AB
E     True
dtype: object

In [36]:
list1 = {'a':[1,2,3],'b':[4,5,6],'c':[7,8,9],'d':[10,11,12]} # 리스트 데이터

sr1 = pd.DataFrame(list1) # 리스트 정리 출력
print(sr1)

   a  b  c   d
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12

In [29]:
df1 = pd.DataFrame([[20, "test", "test", "test", True],
              [20, "test", "test", "test", False],
              [20, "test", "test", "test", True]],
              index=["string1", "string2", "string3"],
              columns=["int","string-1","string-2","string-3","bool"]) # 리스트 데이터

In [38]:
print(df1,"\n\n") # 리스트 전부 출력

print(df1.index,"\n\n")  # 리스트 행이름 출력

print(df1.columns,"\n\n") # 리스트 정의 출력

print(df1.loc["string1"],"\n\n") # 리스트 지정 행 출력

print(df1["int"],"\n\n")  # 리스트 지정 정의 출력

         int string-1 string-2 string-3   bool
string1   20     test     test     test   True
string2   20     test     test     test  False
string3   20     test     test     test   True


Index(['string1', 'string2', 'string3'], dtype='object')


Index(['int', 'string-1', 'string-2', 'string-3', 'bool'], dtype='object')


int           20
string-1    test
string-2    test
string-3    test
bool        True
Name: string1, dtype: object


string1    20
string2    20
string3    20
Name: int, dtype: int64